h1 {
	color: white;
}

body {
	background: #BBA9FF;
	background-attachment: fixed;
	/*background-color: #fdc100;*/
}

img {
  width: 100%; /* takes the 100 % width of its container (.box div)*/
  height: 100%; /* takes the 100 % height of its container (.box div)*/
}
.animatedLogo {
	border-radius: 500px;
}
.titleImage {
	border-radius: 0px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

br {
	height: 20px;
}

a {
	text-decoration: none;
	/*color: white;*/
}

a:hover{
	text-decoration: none;
	/*color: white;*/
}

@media (max-width: 1000px) {
      .show-mobile {
        display: block;
      }
      .hide-mobile {
        display: none;
      }
    }

@media (min-width: 1001px) {
      .show-mobile {
        display: none;
      }
      .hide-mobile {
        display: block;
      }
    }

.animatedLogo {
	border-radius: 500px;
}

.blogDate {
	color: white;
	text-align: left;
	font-family: Helvetica;
	padding-top: 20px;
	padding-left: 20px;
	margin: auto;
}

.comingSoonBanner {
	color: white;
	width: 100%;
	padding: 15px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #FDC100;
}

.mobileComingSoonBanner {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #FDC100;
}


.newReleaseBanner {
	color: white;
	width: 100%;
	padding: 15px;
	padding-left: 50px;
	padding-right: 50px;
	/*background: linear-gradient(to right, #FF3A99, #A487FF);*/
    background-color: #B19DFF;
    box-shadow: -4px -4px 10px #BBA9FF, 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    
}

.mobileNewReleaseBanner {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
    background-color: #B19DFF;
    box-shadow: -4px -4px 10px #BBA9FF, 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.preorderBanner {
	color: white;
	width: 100%;
	padding: 15px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #19B000;
}

.mobilePreorderBanner {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #19B000;
}

.mobileBannerContainter {
	padding-left: 10%;
	padding-right: 10%;
}

.appInfo {
	width: 94%;
	padding-right: 3%;
	padding-left: 3%;
}

.infoSubtextApp {
	color: white;
	text-align: left;
	font-family: Helvetica;
	padding: 10px;
	margin: auto;
}


.peopleButtons {
	padding: 20px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 20px;
	font-family: Helvetica;
	background-color: transparent;
	border-style: solid;
	border-color: #444;
	border-width: 3.5px;
	border-radius: 10px;
}

.peopleButtons:hover{
	padding: 20px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 20px;
	font-family: Helvetica;
	background-color: transparent;
	border-style: solid;
	border-color: #fff;
	border-width: 3.5px;
	border-radius: 10px;
}
.peopleButtonText {
	color: white;
	padding-left: 5px;
	margin: auto;
}

.appsImageContainer {
    padding-left: 5%;
}

.appsImage {
    border-radius: 50px;
	/*width: 45%;*/
	/*padding-left: 5%;*/
    
}
.appsImageContainerMobile {
    padding-left: 10%;
	padding-right: 10%;
}

.mobileAppsImage {
	margin: auto;
    border-radius: 50px;
}

.peopleHStack {
		display: inline-flex;
		margin: auto;
}

.peopleIcons {
	height: 30px;
	width: 30px;
	margin: auto;
}

.peopleBox {
	width: 300px;
	height: 300px;
	margin: auto;
}

.fillButtonText {
	color: white;
}

.contactButtons {
	text-decoration: underline;
	color: white;
	text-align: left;
	font-family: Helvetica;
	padding: 20px;
	margin: auto;
}

.contactButtonsNoPadding {
	text-decoration: underline;
	color: white;
	text-align: left;
	font-family: Helvetica;
	padding-left: 20px;
	padding-bottom: 20px;
}

.whiteButtonText {
	color: white;
}

.outlineButtonText {
	color: white;
}

hr {
	border: 4;
  border-top: 3px black;
}

/*a: link {
	color: white;
}

a: visited {
	color: white;
}*/

.imageBox {
	width: 100%;
	margin: auto;
 	/*height: 200px;*/
 	/*border: 5px dashed #f7a239;*/
}

#mc-embedded-subscribe {
    padding-left: 45px;
    padding-right: 45px;
    border-width: 0px;
}

.infoText {
	width: 90%;
	margin: auto;
	border-radius: 15px;
    background-color: #B19DFF;
    box-shadow: -7px -7px 20px #BBA9FF, 4px 4px 10px rgba(0, 0, 0, 0.15);
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.compareSection {
	width: 50%;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.listTitle {
	color: white;
	padding-left: 20px;
}

.listItem {
	color: white;
	padding-left: 5px;
}

.compareListItem {
	color: white;
	padding-right: 5px;
	padding-bottom: 10px;
}

.compareList {
}

.compareHStack {
	width: 95%;
	display: inline-flex;
	margin: auto;
	padding-left: 5%;
}

.infoSubtextCenter {
	color: white;
	/*text-align: center;*/
	font-family: Helvetica;
	padding: 20px;
	margin: auto;
}

.infoSubtextLeft {
	color: white;
	text-align: left;
	font-family: Helvetica;
	padding: 20px;
	margin: auto;
}

.infoSubtextLeftNoPadding {
	color: white;
	text-align: left;
	font-family: Helvetica;
	padding-left: 20px;
}

.emailField {
    padding: 10px;
    width: 95%;
    background-color: #BBA9FF;
    border-width: 0px;
    box-shadow: inset -4px -4px 20px #BBA9FF, inset 4px 4px 7px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.emailField::placeholder {
    color: #A489FF;
    font-weight: bold;
}

.HStack {
	display: inline-flex;
	padding-bottom: 50px;
}

.altHStack {
	display: inline-flex;
}

.navBarTitle {
	margin: auto;
	padding-left: 15px;
}

.navBarTitle:hover {
	text-decoration: underline;
}


.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack img {
  margin-bottom: 10px; /* Optional: adds some space between the image and the button */
}

.theThing {
    padding: 100px;
    padding-top: 150px;
    position: absolute;
    display: flex;
}

.stacked-image {
    max-width: 400px;
}

.stack {
    position: relative;
}

.fillButtonsContact {
	padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: white;
	font-family: Helvetica;
	background-color: #B19DFF;
	border-radius: 15px;
    box-shadow: -4px -4px 10px #BBA9FF, 4px 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.fillButtonsContact:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	font-family: Helvetica;
	/*background-color: #fdc100;*/
    background: #B19DFF;
	border-radius: 15px;
    box-shadow: inset -4px -4px 20px #BBA9FF, inset 4px 4px 15px rgba(0, 0, 0, 0.15);
}



.otherFillButtons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  border: none;
  background-color: #BBA9FF;
  border-radius: 12px;
  box-shadow: -4px -4px 10px #BBA9FF, 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.otherFillButtons:hover {
    background-color: transparent;
    box-shadow: inset -4px -4px 20px #BBA9FF, inset 4px 4px 15px rgba(0, 0, 0, 0.15);
}

.otherSocialIcon {
    width: 30px;
    height: 30px;
    filter: invert(100%) sepia(95%) saturate(20%) hue-rotate(315deg) brightness(104%) 
}

.socialIcon {
	height: 40px;
	width: 40px;
	padding-left: 10px;
    filter: invert(100%) sepia(95%) saturate(20%) hue-rotate(315deg) brightness(104%) contrast(104%);
}

.socialIcon:hover {
	height: 40px;
	width: 40px;
	padding-left: 10px;
    filter: invert(0%) sepia(9%) saturate(300%) hue-rotate(22deg) brightness(89%) contrast(101%);
}

.socialIconMenu {
	height: 30px;
	width: 30px;
	padding-left: 10px;
	padding-bottom: 5px;
    filter: invert(100%) sepia(95%) saturate(20%) hue-rotate(315deg) brightness(104%) contrast(104%);
}

.socialIconMenu:hover {
	height: 30px;
	width: 30px;
	padding-left: 10px;
	padding-bottom: 5px;
    filter: invert(0%) sepia(9%) saturate(300%) hue-rotate(22deg) brightness(89%) contrast(101%);
}

.doorhingeapps {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
}

.doorhingeapps:hover {
	text-decoration: underline;
}

.navTitleStack {
	padding-left: 15px;
	display: grid;


}

.navButton {
	color: white;
	font-family: Helvetica;
	padding: 10px;
	border: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: transparent;
}

.navButton:hover {
	color: white;
	font-family: Helvetica;
	padding: 10px;
	border: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: white;
}

.navBar {
	width: 85%;
	margin: auto;
	border-radius: 10px;
	padding: 12px;
	background-color: #444;
}

.logo {
	height: 50px;
	width: 50px;
}

.centerButtons {
	padding: 20px;
	display: inline-flex;
	margin: auto;
}

.fillButtons {
	padding: 20px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 20px;
	font-family: Helvetica;
	background-color: #B19DFF;
	border-radius: 15px;
    box-shadow: -4px -4px 10px #BBA9FF, 4px 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.fillButtons:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 20px;
	font-family: Helvetica;
	/*background-color: #fdc100;*/
    background: #B19DFF;
	border-radius: 15px;
    box-shadow: inset -4px -4px 20px #BBA9FF, inset 4px 4px 15px rgba(0, 0, 0, 0.15);
}

.formButtons {
	padding: 20px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 20px;
	font-family: Helvetica;
	background-color: #B19DFF;
	border-radius: 15px;
    box-shadow: -4px -4px 10px #BBA9FF, 4px 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-width: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.formButtons:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	font-family: Helvetica;
	/*background-color: #fdc100;*/
    background: #B19DFF;
	border-radius: 15px;
    box-shadow: inset -4px -4px 20px #BBA9FF, inset 4px 4px 15px rgba(0, 0, 0, 0.15);
}

.fillButtons2 {
	padding: 20px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 20px;
	font-family: Helvetica;
	background-color: #444;
	border-radius: 15px;
}

.fillButtons2:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 16px;
	font-family: Helvetica;
	background-color: #fdc100;
	border-style: solid;
	border-color: #444;
	border-width: 4px;
	border-radius: 15px;
}

.Hspacer10 {
	width: 10px;
	color: transparent;
}

.Hspacer15 {
	width: 15px;
	color: transparent;
}

.Hspacer20 {
	width: 20px;
	color: transparent;
}

.outlineButtons {
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 16px;
	font-family: Helvetica;
	background-color: transparent;
	border-style: solid;
	border-color: #444;
	border-width: 4px;
	border-radius: 15px;
}

.outlineButtons:hover{
	color: #666;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	padding: 16px;
	font-family: Helvetica;
	background: linear-gradient(to right, #FF3A99, #A487FF);
	border-style: solid;
	border-color: #444;
	border-width: 4px;
	border-radius: 15px;
}

.Questions {
	font-family: Helvetica;
	color: white;
	width: 90%;
	margin: auto;
}

.Answers {
	font-family: Helvetica;
	font-weight: normal;
	color: white;
	width: 90%;
	margin: auto;
}

.footer {
	margin: auto;
	text-align: center;
}

.copyright {
	font-family: Helvetica;
	color: white;
}

.gallery {
	width: 60%;
	margin: auto;
}

.hiddendiv {display: none; }
.testA:focus ~ #testA {display: block; }
.testB:focus ~ #testB {display: block; }



/*CSS for Hamburger Menu*/



















h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: Helvetica;
  box-sizing: border-box;
}

li:hover {
	border-width: 4px;
	border-color: white;
	border-radius: 0px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #A487FF;
  background: linear-gradient(#197FE0, #A487FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 75px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/*@media only screen and (max-device-width: 480px) {*/
/*@media (max-width: 1000px) {*/
@media (max-width: 1200px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 75px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 0.5px solid #444;
    height: 3em;
    padding: 0.85em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #A487FF;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


